<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatrimonialServiceProvider"
        android:usesCleartextTraffic="true"

        tools:targetApi="31">
        <activity
            android:name=".UserProfileActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            tools:targetApi="tiramisu">

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <!-- Add the data scheme and host to match your profile link -->
            <data
                android:scheme="http"
                android:host="192.168.135.236"
                android:pathPrefix="/MatrimonialServiceProvider/userProfile.php" />
        </intent-filter>
        </activity>
        <activity
            android:name=".UnblockActivity"
            android:exported="false"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".ViewFeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".feedbackActivity"
            android:exported="true"
            android:theme="@style/Theme.ActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:theme="@style/Theme.ActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.ActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>